body,
html {
    height: 100%;
    margin: 0;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 40px;
}
h1,
a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

.post-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.post-box h2,
.post-box h3,
.post-box p {
    margin: 10px 0;
}

.post-box img {
    margin: 5px;
}
